.lf-form {
  --lf-field-margin: 16px;
  --lf-field-column-margin: 16px;
  --lf-font-size: 15px;

  &.lf-form-buttons-align-center {
    .lf-toolbar {
      justify-content: center;
    }
  }
  &.lf-form-buttons-align-left {
    .lf-toolbar {
      justify-content: flex-start;
    }
  }
  &.lf-form-buttons-align-right {
    .lf-toolbar {
      justify-content: flex-end;
    }
  }

  .lf-toolbar {
    margin-top: var(--lf-field-margin);
  }

  // as a general rule, components have a top margin, unless they are the first of their container
  [class*=lf-control]:not(:first-child) {
    margin-top: var(--lf-field-margin);
    margin-bottom: 0px;
  }

  .lf-control-common-array {

    .lf-control-common-array-item {
      --lf-field-margin: 15px;

      [class^=lf-control] {
        margin-bottom: 0px;
      }

      [class^=lf-control]:not(:first-child) {
        //margin-top: var(--lf-field-margin);
        margin-top: 10px;
      }
    }
  }


  // TODO fix spacing inside array
  /*.lf-control-common-array-item {
    [class^=lf-control]:not(:last-child) {
      margin-bottom: 10px;
    }
    [class^=lf-control]:last-child {
      margin-bottom: 0px;
    }

    padding-bottom: 5px;
  }*/

}

.lf-icon-asterisk {
  margin-top: -3px;
  display: inline-block;
}

.lf-missing-component {
  border: 1px solid #bbbbbb;
  background-color: #f6f6f6;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  .icon {
    order: 0;
    flex: 0 0;
    align-self: auto;
    margin-top: 2px;
  }

  .tag-component {
    background-color: #673ab7;
    color: #ffffff;
    font-size: 12px;
    padding: 1px 4px 2px 4px;
    border-radius: 3px;
    line-height: 17px;
  }

  .message {
    display: inline-block;
    margin-left: 10px;
    order: 0;
    flex: 1 0;
    align-self: auto;
  }
}