.lf-form-react-antd {

  .ant-form-item {
    margin-bottom: 0px;
  }
  
  .lf-buttons {
    margin-top: 25px;
    display: flex;

    button:not(:first-child) {
      margin-left: 10px;
    }
  }

  // reduce margin in plaintext mode
  &.lf-form-react-antd-plaintext {
    .ant-col.ant-form-item-label {
      padding-bottom: 0px;
    }
  }

}
