.lf-input-text-i18n-item-locale {
  font-size: 0.9em;
}

.lf-input-text-i18n {
  .rs-input-group-addon {
    padding: 2px 4px !important;

    .status {
      font-size: 10px;
    }

    .btn-clear {
      display: inline-block;
      margin-left: 5px;
      margin-top: -2px;
      color: #666666;
      text-decoration: none;

      &:hover {
        color: #1675e0;
      }
    }
  }

  .group-input-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    .translation-control {
      order: 0;
      flex: 1 0;
      align-self: auto;
      width: unset !important;
      z-index: 1;

      .translated {
        color: #999999;
      }
    }

    .select-control {
      order: 1;
      flex: 0 0;
      align-self: center;
      z-index: 2;
      margin-left: 5px;
    }

    &.textarea {
      .select-control {
        align-self: self-start;
      }
    }
  }
}