.lf-form-react-rsuite5 {
  .lf-control-checkbox {
    .rs-form-help-text {
      align-items: inherit;
      margin-top: -1px;
      display: inline-block;
      margin-left: 5px;

      svg {
        margin-top: -2px;
      }
    }
  }
}