.lf-form-react-material-ui {
  .lf-control-button {
    min-height: 20px;

    .lf-icon {
      max-width: 20px;
      max-height: 20px;
    }

    .MuiButton-sizeLarge {
      .lf-icon {
        max-width: 22px;
        max-height: 22px;
      }
    }

    .MuiButton-sizeSmall {
      .lf-icon {
        max-width: 18px;
        max-height: 18px;
      }
    }

    .only-icon {
      // remove it if only icon
      min-width: inherit;
      
      .MuiButton-startIcon {
        margin-right: 0px !important;
      }

    }

  }
}