.lf-mui-plaintext {
  .MuiInputLabel-root {
    // fix weird styling of input label, this component is basically impossible to use standalone
    transform: none !important;
    position: inherit !important;
    margin-top: 0px !important;
  }
}