.lf-three-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  min-height: 40px;

  /*.left, .right, .center {
    .rs-form-control-wrapper {
      > .rs-input, > .rs-input-number {
        //width: auto;
      }
    }
  }*/

  .left {
    flex: 1 0;
    align-self: auto;
    margin-right: 10px;
  }

  .center {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 0;
    align-self: auto;
  }

  .right {
    margin-left: 10px;
    flex: 1 0;
    align-self: auto;
  }
}