.lf-form-react-rsuite5 {

  // void Rsuite rule that put a margin on last element
  &.rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child) {
    margin-bottom: unset;
  }

  &.rs-form-vertical .rs-form-group .rs-input-group {
    width: unset;
  }

  /*.lf-buttons {
    margin-top: 24px;
  }*/
  // makes tooltip inside labels with smaller margins
  .rs-form-control-label {
    > .rs-form-help-text.rs-form-help-text-tooltip {
      margin-top: 0px;
      margin-left: 5px;
    }
  }

  // remove the margin bottom, rule is that elements has a margin-top
  //&.rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child) {
  //  margin-bottom: 0px;
  //}

  .lf-full-width {
    .rs-form-control-wrapper {
      width: 100%;
    }
  }

}
