.lf-form-react-rsuite5 {

  .lf-toolbar {
    margin-top: 24px;
  }
  // makes tooltip inside labels with smaller margins
  .rs-form-control-label {
    > .rs-form-help-text.rs-form-help-text-tooltip {
      margin-top: 0px;
      margin-left: 5px;
    }
  }

  .lf-full-width {
    .rs-form-control-wrapper {
      width: 100%;
    }
  }

}
