.lf-form-react-rsuite5 {
  .lf-control-button {
    min-height: 20px;

    .lf-icon {
      max-width: 16px;
      max-height: 16px;
    }

    .rs-btn-lg {
      .lf-icon {
        max-width: 20px;
        max-height: 20px;
      }
    }

    .rs-btn-xs {
      .lf-icon {
        max-width: 12px;
        max-height: 12px;
      }
    }
  }
}