.lf-form-react {

  .lf-control-common-array-item {
    padding-bottom: 5px;

    .lf-control-two-columns:last-child {
      margin-bottom: 0px;
    }

    .lf-control-three-columns:last-child {
      margin-bottom: 0px;
    }
  }
}